@import "galleriffic.css";

div#ship {
    margin: 3px 1px 20px 7px;
}
div#ship div.cab h1 {
    text-align: center;
    font-size: 20px;
    line-height: 6px;
}
div#ship div.itemship {
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    background: #ffffff;
    margin-top: 8px;
}
div#ship div.itemship h2 {
    margin: 0;
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-image: linear-gradient(center top , #62C462, #51A351);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62C462), to(#51A351));
    border-bottom: 1px solid #909090;
    border-radius: 6px 0 6px 0;
    font-size: 15px;
    line-height: 24px;
    padding-left: 10px;
    width: 75%;
    color: #fff;
    text-shadow: 1px 1px #497C49;
}
div#ship div#ship-description p {
    text-align: justify;
    padding: 10px;
}
div#ship div#features-ship div#class-ship {
    padding: 10px;
    font-weight: bold;
}
div#ship ul {
    list-style-type: none;
    margin: 10px;
}
.feature-ship-label {
    color: #45AEEA;
    font-size: 1.2em;
    margin-right: 10px;
    display: inline-block;
    width: 100px;
}
.feature-ship-value {
    color: #555555;
    font-size: 0.8em;
}
div#ship div#equipments-ship ul li {
    display: inline-block;
    margin-right: 6px;
}
div#ship div#equipments-ship ul li img {
    border: 1px solid #EE7911;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 2px #666666;
    padding: 3px;
}
