<footer class="footer_com">
    <div class="container">
        <ul class="unstyled">
            <li><a href="http://cruceo.com/user/register">Regístrate</a></li>
            <li><a href="http://cruceo.com/estatico/busca-mejor-cruceo-con-cruceocom/139">El mejor crucero en cruceo.com</a></li>
            <li><a href="http://cruceo.com/estatico/como-funciona/106">¿Cómo funciona? </a></li>
            <li><a href="http://cruceo.com/estatico/agencias-de-viaje/44">Agencias de viaje</a></li>
            <li><a href="http://cruceo.com/estatico/navieras/42">Navieras</a></li>
            <li><a href="http://cruceo.com/estatico/contacto/4">Contacto</a></li>
            <li><a href="http://cruceo.com/estatico/politica-privacidad/3">Política de privacidad</a></li>
            <li><a href="http://cruceo.com/estatico/quienes-somos/2">¿Quiénes somos?</a></li>
        </ul>
        <address class="t-cent">&copy; Cruceo 2012<address>
    </div>
</footer>