<div class="navbar header cru-header">
    <div class="container">
        <a class="brand" href="http://{{ app.request.host }}" title="Cruceo, el único comparador de Cruceros"></a>

        <h1>El único comparador de Cruceros</h1>
    </div>
</div>