<div class="navbar header">
    <div class="container">
        <a class="brand" href="http://cruceo.local">
            <img src="{{ asset('bundles/cruceoportal/img/logo_cruceo.png') }}" alt="Cruceo" title="Cruceo, el único comparador de Cruceros" />
        </a>

        <h1>El único comparador de Cruceros</h1>
    </div>
</div>