<form action="{{ path('admin_user') }}" method="post" name="newuser" id="newuser">
    <label for="username">Usuario</label>
    <input type="text" id="username" name="username" />
    <br />
    <label for="username">Password</label>
    <input type="text" id="password" name="password" />
    <br />
    <label for="username">Email</label>
    <input type="text" id="email" name="email" />
    <br />
    <input type="submit" name="guardar" value="Guardar" />
</form>