<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}CRUCEO{% endblock %}</title>
    {% block css %}{% endblock %}
    {% block js %}
    <script type="text/javascript" src="{{ asset('bundles/cruceoportal/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cruceouser/js/less.js') }}"></script>
    {% endblock %}
</head>
<body>
    <!-- Header -->
    {% include "CruceoPortalBundle:partials:header.html.twig" %}
    <!-- End Header -->

    <!-- Search -->
    {% render "CruceoPortalBundle:Home:search" %}
    <!-- End Search -->

    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- End Content -->

    <!-- Footer -->
    {% include "CruceoPortalBundle:partials:footer.html.twig" %}
    <!-- End Footer -->

</body>
</html>